<h3> <%= @title ||= "Editing #{@event.title.to_s}" %> </h3>

<% form_for @event, :url => { :action => "update" }, :html => { :multipart => true } do |f| %>

  <%= f.error_messages %>
  
  <%= render :partial => 'form', :locals => { :f => f, :event => @event } %>

  <%= image_submit_tag "admin/save_button.png", :class => "button" %>
  <%= link_to image_tag("admin/back_button.png"), admin_events_path %>

<% end %>


