<div class="profile_body_full">
  <h2> <%= @title || "Profile" %> - <%= link_to('edit profile', edit_account_path) if (@user.id == current_user.id) %></h2>

  <div class="profile_image">
    <% if @user.avatar.exists? %>
      <br clear="both"/>
      <%= image_tag(@user.avatar.url(:medium)) %>
    <% end %>
  </div>

  <div class="profile_body">
    <table>  
      <tr>
        <td>Login: </td>
        <td><%=h @user.login %></td>
      </tr>
      <tr>
        <td>Email: </td>
        <td><%=h @user.email %></td>
      </tr>
      <tr>
        <td>Full Name: </td>
        <td><%=h @user.name %></td>
      </tr>
      <tr>
        <td>Address: </td>
        <td><%=h @user.address %></td>
      </tr>
      <tr>
        <td>Phone: </td>
        <td><%=h @user.phone %></td>
      </tr>
      <tr>
        <td>TimeZone: </td>
        <td><%=h @user.time_zone %></td>
      </tr>
    </table>
  </div>
</div>

<div class="profile_body_full">
  <b>About Myself: </b>
  <%= @user.notes %>
</div>

<% if @user.last_login_at && @user.id == current_user.id %>
  <div class="profile_body_full">
    <p>
      Last Login on: <%=h @user.last_login_at %> 
      <br clear="both"/>
      From:<%=h @user.last_login_ip %>
    </p>
    <%= link_to('Edit Profile', edit_account_path) %>
  </div>
<% end %>


<br clear="both"/>
