<div id="footer">
	<div class="inner">
		<img src="/images/themes/Typography/typ.png" alt="typ" />
		<img src="/images/themes/Typography/og.png" alt="og" />
		<img src="/images/themes/Typography/rap.png" alt="rap" />
		<img class="right" src="/images/themes/Typography/hy.png" alt="hy" />
		<p>01. Lorem ipsum sut dolor</p>

		<div class="clearfix"></div>
		<div class="credits left">Copyright <span class="o">Events Now!</span> 2010</div>
		
		<div class="credits right">		  
        <%= link_to "English",  {:language => "en"}, :class => "bold red" %> | 
        <% if session[:mobile] %>
          <%= link_to "Desktop",  {:desktop => "true"}, :class => "bold red" %> | 
        <% end %>
        <% if show_admin_content? %>
          <%= link_to "Admin", admin_path %> |
        <% end %>
        <% if logged_in? %>
          <%= link_to "Account", account_path %>
          <%= link_to "Edit Profile", edit_account_path %>
          <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
        <% else %>
          <%= link_to "Signup", signup_path %>
          <%= link_to "Login", login_path %>          
        <% end %>
		</div>
    
	</div>
</div><!--footer-->
