<script type='text/javascript'>

	$(document).ready(function() {
	
		var date = new Date();
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			editable: false,
			events: [
			<% @last_item = Event.last.id %>
			<% Event.all.each do |t| %>
        {
        	id: <%= t.id %>,
        	title: "<%= t.title %>",
        	start: new Date(<%=t.start_date.year%>, <%=t.start_date.month-1%>, <%=t.start_date.day %>, <%=t.start_date.hour%>, <%=t.start_date.min%>),
        	allDay: <%= t.allday %>,
        	url: "<%= url_for t %>"
        }<%= "," unless t.id == @last_item %>
      <% end %>
			]
		});
		
	});

</script>

<div id='calendar'></div>

