<script type="text/javascript" src="/javascripts/tiny_mce_jquery/tiny_mce.js"></script>

<script type="text/javascript">

function updateCheckBox(CheckBox, Value) {
  document.forms[0].elements[CheckBox].checked=Value;
}
</script>

<script type="text/javascript">
tinyMCE.init({
	mode : "exact",
	elements : "event_description",
	theme : "advanced",
	skin : "o2k7",
	plugins : "safari,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",
	theme_advanced_buttons1 :  "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleprops,spellchecker,|,forecolor,backcolor",
	theme_advanced_buttons2 :  "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,help,removeformat,cleanup,code,|,preview,fullscreen",
	theme_advanced_buttons3 :  "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl",
	theme_advanced_toolbar_location : "top",
	theme_advanced_toolbar_align : "left",
	theme_advanced_statusbar_location : "bottom",
	theme_advanced_resizing : true,
	template_replace_values : {
		username : "<%= current_user.login if current_user %>",
		staffid : "<%= current_user.id if current_user %>"
	}
});
tinyMCE.init({
	mode : "exact",
	elements : "event_extra_description",
	theme : "advanced",
	skin : "o2k7",
	plugins : "safari,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",
	theme_advanced_buttons1 :  "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleprops,spellchecker,|,forecolor,backcolor",
	theme_advanced_buttons2 :  "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,help,removeformat,cleanup,code,|,preview,fullscreen",
	theme_advanced_buttons3 :  "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl",
	theme_advanced_toolbar_location : "top",
	theme_advanced_toolbar_align : "left",
	theme_advanced_statusbar_location : "bottom",
	theme_advanced_resizing : true,
	template_replace_values : {
		username : "<%= current_user.name if current_user %>",
		staffid : "<%= current_user.id if current_user %>"
	}
});


$(function() {
	$("#event_start_date").datepicker({ altFormat:'yy-mm-dd', 
    minDate: new Date(<%=Time.now.year%>,<%=Time.now.month-1%>,<%=Time.now.day-2%>)});
	$("#event_end_date"  ).datepicker({ altFormat:'yy-mm-dd', 
	  minDate: new Date(<%=Time.now.year%>,<%=Time.now.month-1%>,<%=Time.now.day-2%>)});
});

</script>

<h3>Event Information</h3>
<table class="events">
  <tr>
    <td><%= f.label :title, "Event Title" %></td>
    <td><%= f.text_field :title, :class => "wide" %></td>
  </tr>
  <tr>
    <td><%= f.label :location, "Event Location" %></td>
    <td><%= f.text_field :location, :class => "wide" %></td>
  </tr>
  <tr>
    <td><%= f.label :start_date %></td>
    <td><%= f.datetime_select :start_date %></td>
  </tr>
  <tr>
    <td><%= f.label :end_date %></td>
    <td><%= f.datetime_select :end_date %></td>
  </tr>
  <tr>
    <td><%= f.label :allday, "All Day Event?" %></td>
    <td><%= f.check_box :allday %> </td>
  </tr>
  <!-- <tr>
    <td><%= f.label :language, "Event Language" %></td>
    <td><%= f.select(:language, Event::LANGUAGES.collect {|p| p }, { :include_blank => false }) %></td>
  </tr> -->
</table>

<h3>Speakers</h3>
<p>
  <%= f.label :speaker_type, "Type of Speakers" %>
  <%= f.select :speaker_type, 
    Event::SPEAKER_TYPES.collect {|t| [t[:name], t[:id] ]}, 
    :selected => @event.speaker_type,
    :multiple => true
  %>
  <br />
  <%= f.label :speakers_count, "Number of Speakers"  %> 
  <%= f.select :speakers_count, [1,2,3,4,5,6,7,8,9,10,20].collect {|p| p }, { :include_blank => false } %>
  <br />
  <%= f.label :maximum_users, "Number of Maximum allowed users"  %> 
  <%= f.select :maximum_users, [10,20,50,100,200].collect {|p| p } %>
</p>

<h3>Event Access</h3>

<p>
  <%= f.check_box :public_event, 
    :onclick => "updateCheckBox('event_private_event', false); document.getElementById('price').style.display = 'none';" 
  %>
  <%= f.label :public_event %>
  <br />
  <%= f.check_box :private_event, 
    :onclick => "updateCheckBox('event_public_event', false); document.getElementById('price').style.display = '';" 
  %>
  <%= f.label :private_event %> 
  <br />
  <span id="price" <%= "style='display:none;'" unless ((@event.price && @event.private_event) | !javascript_enabled?) %> > &nbsp;
    <%= f.label :price, "Event Price" %> <%= f.text_field :price, :size => 8  %>
    <%= f.select :currency, ["AUD","BHD","CND","EUR","USD"].collect {|p| p }, { :include_blank => false } %>
  </span>
</p>

<h3> <%= f.label :description, "Short Description (required)" %> </h3>
<p><%= f.text_area :description %></p>
<br />

<h3><%= f.label :extra_description, "Detailed Description" %> </h3>
<p><%= f.text_area :extra_description %></p>


<h3>Contact Information</h3>

<table class="events">
  <tr>
    <td><%= f.label :sponsor_name, "Your Name" %></td>
    <td><%= f.text_field :sponsor_name, :class => "wide" %></td>
  </tr>
  <tr>
    <td><%= f.label :sponsor_email, "Contact Email" %></td>
    <td><%= f.text_field :sponsor_email, :class => "wide" %></td>
  </tr>
  <tr>
    <td><%= f.label :phone_number, "Contact Number" %></td>
    <td><%= f.text_field :phone_number, :class => "wide" %></td>
  </tr>
</table>

<% if false %>
  <h3>Upload Files</h3>
  <p> Upload up to 6 files, maximum size 8MB each. <br /> Allowed Document files only </p>
  <p> File 1: <%= f.file_field :document1, :size => 10 %> </p>
  <p> File 2: <%= f.file_field :document2, :size => 10 %> </p>
  <p> File 3: <%= f.file_field :document3, :size => 10 %> </p>
  <p> File 4: <%= f.file_field :document4, :size => 10 %> </p>
  <p> File 5: <%= f.file_field :document5, :size => 10 %> </p>
  <p> File 6: <%= f.file_field :document6, :size => 10 %> </p>
<% end %>

<br clear="both"/>
