<!-- Footer -->
<div id="footer">
  <br />
	<p>
	  <%= render :partial => "/shared/render_time" %>
	</p>
	
	<p>
	  <script type="text/javascript">
    <!--
      document.write('You\'re using ' + BrowserDetect.browser + ' ' + BrowserDetect.version + ' on ' + BrowserDetect.OS);
    // -->
    </script>
  </p>
  <% 
    @opera_link = link_to("Opera 10", "http://www.opera.com/browser")
    @chrome_link = link_to("Chrome 5", "http://www.google.com/chrome")
    @firefox_link = link_to("Firefox 3", "http://www.mozilla.com/en-US/products/download.html?product=firefox")
    @safari_link = link_to("Safari 4", "http://www.apple.com/safari/download/")
  %>
  <% if request.user_agent.match(/MSIE 5|MSIE 6|MSIE 7|Firefox\/2|Safari\/2/) %>
    <p>Your Browser is outdated and not fully supported. Please upgrade to <%=@firefox_link%>, <%=@safari_link%>, <%=@chrome_link%> or <%=@opera_link%> </p>
  <% end %>

  <% if !request.user_agent.match(/MSIE 7|MSIE 8|Firefox\/3|Firefox\/4|Shiretoko|AppleWebKit|Safari\/4|Safari\/5|Opera\/9|Opera\/10|Gecko\/2009|Gecko\/2010/) %>
    <p class="warning">
      WARNING: Your browser is old, please upgrade to <%=@opera_link%>, <%=@firefox_link%>, <%=@safari_link%> or <%=@chrome_link%>
    </p>
    <%= request.user_agent %>
  <% end %>
</div>
<!-- Footer end -->
