<!DOCTYPE html>
<html lang="<%=meta_language%>" xml:lang="<%=meta_language%>">
  <%= render :partial => "/shared/head" %>
  <body>
    <%= render :partial => "/shared/noscript" %>
  	<div id="wrapper">
  		<div id="header">
			  <%= render :partial => "/shared/nav" %>
  			<%= render :partial => "/shared/top_calendar" %>
  			<h2 class="header">
  			  <span class="o">&quot;</span><span class="o">Events Now!</span>
  			  Manage, Organize and participate events with style<span class="o">&quot;</span>
  			</h2>
        <h2 class="header"><%= link_to "Create a New Event now!", new_event_path %></h2>
  			<div class="clearfix"></div>
			
  		</div><!--header-->
	    
  		<div id="content">
			
  			<div class="box">
  				<h3>Featured Events</h3>
  				<span class="number">
  				  <%= Event.featured.this_month.unfinished.limit(4).count %> Events
  				</span>
  				
  				<% Event.featured.this_month.unfinished.limit(4).each do |event| %>
  				
    				<div class="clearfix line"></div>
    				<div class="sidenote left small">
    					<p class="event_title"><%= link_to event.title, event %></p>
    					<p>
    					  From: <%= event.start_date_formatted %> <br />
    					  To: <%= event.end_date_formatted %>
    					</p>
    					<p class="event_location"><%= link_to event.location, event %></p>
    				</div>
    				
    				<div class="right big">
              <% if event.avatar.exists? %>
                <div class="featured_event_image">
                  <%= link_to image_tag(event.avatar.url(:small)), event %>
                </div>
              <% end %>
              <div class="featured_event_text">
    				    <%= event.description %>
    				  </div>
    				</div>
    				
    			<% end %>
  				
  			</div> 
  			<!--Featured Events-->
			
  			<div class="box left small">
  				<h3>This Month</h3><span class="number"><%= Event.not_featured.this_month.unfinished.limit(4).count %></span>
  				<% Event.not_featured.this_month.unfinished.limit(4).each do |event| %>
    				<div class="clearfix"></div>
    				<p>
    				  <strong><%= event.start_date_formatted %></strong> &nbsp;
  				    <%= link_to event.title, event %>
  				  </p>
  				  <% if event.avatar.exists? %>
              <div class="featured_event_image">
                <%= link_to image_tag(event.avatar.url(:thumb)), event %>
              </div>
            <% end %>
            <span class="featured_event_text">
  				    <%= truncate(strip_tags(event.description), :length => 210) %>
  				  </span>
  				  <%= link_to "Read More...", event %>
    				<br /><br />
    			<% end %>
  			</div>
			
  			<div class="box left small">
  				<h3>Next Month</h3>
  				<span class="number"><%= Event.not_featured.next_month.unfinished.limit(4).count %></span>
  				<% Event.not_featured.next_month.unfinished.limit(4).each do |event| %>
    				<div class="clearfix"></div>
    				<p>
    				  <strong><%= event.start_date_formatted %></strong> &nbsp;
    				  <%= link_to event.title, event %>
    				</p>
    				<% if event.avatar.exists? %>
              <div class="featured_event_image">
                <%= link_to image_tag(event.avatar.url(:thumb)), event %>
              </div>
            <% end %>
    				<span class="featured_event_text">
    				  <%= truncate(strip_tags(event.description), :length => 150) %>
    				</span>
    				<%= link_to "Read More...", event %>
    				<br /><br />
    			<% end %>
  			</div>
			
  			<div class="box left small">
  				<h3>Past Events</h3>
  				<span class="number"><%= Event.finished.limit(6).count %></span>
  				<% Event.finished.limit(6).each do |event| %>
    				<div class="clearfix"></div>
    				<p>
    				  <strong><%= event.start_date_formatted %></strong> &nbsp;
    				  <%= link_to event.title, event %>
    				</p>
  				  <% if event.avatar.exists? %>
              <div class="featured_event_image">
                <%= link_to image_tag(event.avatar.url(:thumb)), event %>
              </div>
            <% end %>
            <span class="featured_event_text">
  				    <%= truncate(strip_tags(event.description), :length => 150) %>
  				  </span>
  				  <%= link_to "Read More...", event %>
    				<br /><br />
    			<% end %>
  			</div>
			
			
  		</div><!--content-->
  	</div><!--wrapper-->
    <%= render :partial => "/shared/mini_footer"%>
  <!-- <script type="text/javascript">Cufon.now();</script> -->
  </body>
</html>