<!DOCTYPE html>
<html lang="<%=meta_language%>" xml:lang="<%=meta_language%>">
  <%= render :partial => "/shared/head" %>
  <body>
  	<div id="wrapper">
  	  <div id="header">
  		  <%= render :partial => "/shared/nav" %>
  		  
  		  <div class="top_content">
  		    <%= render :partial => "/shared/flash", :locals => {:flash => flash} %>
  		    <div class="events">
            <%= yield %>
          </div>
        </div>
        

      </div><!--header-->
  	</div><!--wrapper-->

    <%= render :partial => "/shared/mini_footer"%>
  </body>
</html>
