<!DOCTYPE html>
<html lang="<%=meta_language%>" xml:lang="<%=meta_language%>">
  <%= render :partial => "/shared/head" %>
  <body>
  	<div id="wrapper">
  		<div id="header">
  		  <%= render :partial => "/shared/nav" %>
  		  
  		  <div class="top_content">
  		    <%= render :partial => "/shared/flash", :locals => {:flash => flash} %>
  		    <div class="users">
            <%= yield %>
          </div>
          <% if @user_session && !logged_in? %>
            <%= render :partial => "/shared/login" %>
          <% end %>
        </div>
        
  			<div class="clearfix"></div>
  		</div><!--header-->
  	</div><!--wrapper-->
    
    <%= render :partial => "/shared/mini_footer"%>
  </body>
</html>
